{
  "machine": {
    "gpu": 1,
    "cpu": 4000,
    "ram": 16000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "ollama",
          "serve"
        ],
        "Image": "ollama/ollama:latest",
        "Volumes": {
          "ollama": {
            "MountPath": "/root/.ollama",
            "HostPath": "/root/.ollama"
          }
        },
        "Ports": [
          {
            "ContainerPort": 11434,
            "HostPort": 11434
          }
        ]
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "all"
      },
      "Timeout": 3600,
      "Verifier": "Noop"
    }
  }
}
